.navigation-post {
    font-family: var(--font2);
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(0, 0, 0));
    font-size: 18px;
    /*margin-top: 25px;*/
}

.blog-post-content{
    /*background-color: blue;*/
}
.blog-post-content h1{
    text-align: center;
    font-size: 32px;
}
.blog-post-content p{
    font-size: 20px;
    display: flex;
    width: 1200px;
    margin-left: -180px;
}